extends layout
block content
  .container
    br
    br
    br
    br
    input#busca.form-control
    br
    button#gravedad.btn.btn-lg.btn-primary.btn-block(type='submit') Gravedad
    br
    button#reiniciar.btn.btn-lg.btn-warning.btn-block(type='submit') Reiniciar    

