extends layout
block content
  .container
    br
    br
    br
    br
    button#up.btn.btn-lg.btn-primary.btn-block(type='submit') Arriba
    br
    button#down.btn.btn-lg.btn-warning.btn-block(type='submit') Abajo
    div.draggable Mover