!!! 5
html(lang='en')
head
    title Verlet Spiderweb
    meta(charset='UTF-8')
    script(type='text/javascript', src='js/verlet-js/vec2.js')
    script(type='text/javascript', src='js/verlet-js/constraint.js')
    script(type='text/javascript', src='js/verlet-js/verlet.js')
    script(type='text/javascript', src='js/verlet-js/objects.js')
    script(src='/socket.io/socket.io.js')      	
  body
    canvas#scratch(style="width: 800px; height: 500px;")
    script(type='text/javascript', src='js/custom.js')